{% extends 'base.html' %} 

{% block content %}
  <h1>INDEX</h1>
  <a href="{% url 'articles:create' %}">작성하기</a>
  <hr />

  {% for article in articles %}
    <p>
      [{{article.id}}] 
      <a href="{% url 'articles:detail' article.pk %}" id="article-title">{{article.title}}</a>
      - 작성자: {{article.user}}
    </p>

    <span>좋아요: {{article.like_users.all | length}}개</span>
    {% if request.user.is_authenticated %}
      <form action="{% url 'articles:likes' article.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
          <input type="submit" value="좋아요 취소">
        {% else %}
          <input type="submit" value="좋아요"> 
        {% endif %}
      </form>
    {% else %}
      <a href={% url 'accounts:login' %}> 좋아요 하려면 로그인 하세요</a>
    {% endif %}
    <hr />
  {% endfor %} 
  
{% endblock content %}
