<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>Todo List</h1>
    <input type="text" v-model="newTodo">
    <button @click="addTodo">+</button>
    <ul>
      <li v-for="(todo, index) in todos" :key="index">
        <input type="checkbox" v-model="todo.completed">
        <span :class="{ completed: todo.completed }">{{ todo.text }}</span>
      </li>
    </ul>
    <button @click="deleteCompleted">완료 목록 삭제</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        newTodo: '',
        todos: []
      },
      methods: {
        addTodo: function() {
          this.todos.push({ text: this.newTodo, completed: false })
          this.newTodo = ''
        },
        deleteCompleted: function() {
          this.todos = this.todos.filter(todo => !todo.completed)
        }
      }
    })
  </script>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</body>
</html>
