<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta charset="utf8">
  <title>Hello, world</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <h1>첫 번째 입력 : {{message}}</h1>
  <input type="text" v-model="message">
</div>
<div id="app2">
  <h1>두 번째 입력 : {{message}}</h1>
  <input type="text" v-model="message">
</div>
<div id="app3">
  <h1>합산 입력 : {{message}}</h1>
</div>

<script type="text/javascript">
    var app = new Vue({
        el : '#app',
        data : {
          message: '',
        },
        watch: {
          message: function(newVal, oldVal) {
            app3.add();
          }
        }
    });
    var app2 = new Vue({
        el : '#app2',
        data : {
          message: '',
        },
        watch: {
          message: function(newVal, oldVal) {
            app3.add();
          }
        }
    });
    var app3 = new Vue({
        el : '#app3',
        data : {
          message: '',
        },
      methods : {
        add() {
          app3.message = app.message+app2.message
        }
      }
    });
</script>

</body>
